.point-inputs
  %h5= "Point #{point}:"
  = render 'coordinate', point: point, coordinate: 'x'
  = render 'coordinate', point: point, coordinate: 'y'
  = render 'coordinate', point: point, coordinate: 'z'